* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.todo {
  height: 100%;
  max-width: 100%;
}

/* Parte de cima */
#container {
  display: flex;
  height: 90vh;
  justify-content: space-between;
}

#topo {
  background-color: lightslategrey;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  width: 100%;
  justify-content: flex-start;
}

.foto {
  display: flex;
  height: 100%;
  width: auto;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profissao {
  margin: 20px 0px;
  letter-spacing: 2px;
  font-size: 40px;
}

.nome {
  font-size: 25px;
  text-align: center;
}

.redes {
  margin: 20px 10px;
}

.git {
  width: 30px;
}

.linkedin {
  width: 30px;
}

.wrapper {
  text-align: center;
  display: flex;
  width: 300px;
  transition: all .2s ease;
}
.wrapper:hover {
  width: 310px;
}

.saibamais {
  background-color: paleturquoise;
  text-decoration: none;
  color: black;
  flex: 1;
  height: 50px;
  margin: 0px 10px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.saibamais:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.mecontrate {
  height: 50px;
  color: black;
  text-decoration: none;
  width: 200px;
  margin: 0px 10px;
  flex: 1;
  background-color: pink;
}

.mecontrate p, .saibamais p {
  top: 15px;
  letter-spacing: 1px;
  position: relative;
}
/* Sobre mim */

#segundo {
  height: 100vh;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#segundo h1 {
  position: absolute;
  top: 105vh;
  font-size: 50px;
}
.segundo-esquerdo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.segundo-direto {
  background-color: blue;
  flex: 1;
}
.container-texto {
  display: flex;
  position: relative;
  width: 300px;
  height: auto;
  flex-flow: column wrap;
  background-color: white;
  border-radius: 20px;
  transition: all 0.2s ease;
}
.container-texto p {
  font-size: 20px;
  padding: 20px;
}

.container-texto:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* Experiência */
.container-baixo {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

#experi {
  position: absolute;
  top: 195vh;
  font-size: 30px;
  text-align: center;
}

#experi p {
  font-size: 15px;
}

hr {
  height: 300px;
}

#direita-baixo {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

h2 {
  margin: 20px 0px;
  text-transform: capitalize;
  font-size: large;
}

.html, .css, .js {
  width: 200px;
  height: 150px;
}

#meio-baixo {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

#esquerda-baixo {
  flex-flow: column wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Parte final */
.container-ultimo {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 70vh;
  display: flex;
}

.ultimo-esquerda {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.ultimo-esquerda p {
  font-size: 20px;
}

.ultimo-direita {
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.ultimo-direita p {
  font-size: 20px;
}

.react, .node {
  width: 200px;
  height: 150px;
}

/* Footer */
footer {
  position: static;
  background-color: #1D2731;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}